	html {
		min-height: 100vh;
		min-height: -webkit-fill-available;
		background-color: black;
		background-image: url('/assets/bg.png');
		background-repeat: repeat;
		background-attachment: fixed;
		background-color: black;
		background-size: 6%;
		
		margin: 0;
		animation: starry_night 100s linear infinite;
	}
	
	body {
		background-image: url('/assets/bg.png');
		background-repeat: repeat;
		background-attachment: fixed;
		background-color: black;
		
		min-height: 100vh;
		min-height: -webkit-fill-available;
		
		background-size: 8% auto;
		animation: starry_night 100s linear infinite;
		
		display: flex;
		display: -ms-flexbox;
		align-items: flex-start;
		justify-content: safe center;
	}
	
	.tv_div {
		pointer-events: none;
	}
	
	.site_canvas {
		width: 800px;
		
		margin: auto;
		padding: auto;
		z-index: 0;
		
		/*background-color: rgba(255, 255, 255, 0.25);*/
	}
	
	@keyframes starry_night {
		0%{background-position: 0 0;}
		100%{background-position: -2160px 2160px;}
	}

	* {
		cursor: url('/assets/cursor.png'), url('/assets/cursor_32.png'), auto;
	}

	*:hover {
		cursor: url('/assets/cursor.png'), url('/assets/cursor_32.png'), auto;
	}

	a {
		color: white;
		font-weight: bold;
	}
	
	font {
		text-shadow: 2px 2px #000000;
	}
	
	.album_img {
		margin: 0;
		margin-top: 16px;
		width: 95px;
		height: 95px;
		float: center;
		border: 2px solid #FFFFFF;
	}
	
	.the_tv {
		background: url('/assets/tv_og.png');
		background-repeat: none;
		background-position: center;
		pointer-events: none;
		width: 400px;
		height: 250px;
		position: absolute;
		top: 62px;
	}
	
	.ltp_tv {
		background: url('/lesstrainsplease/tv.png');
		background-repeat: none;
		background-position: center;
		pointer-events: none;
		width: 237px;
		height: 197px;
		position: absolute;
	}
	
	.nav_btn:hover {
		filter: drop-shadow(0 0 0.60rem #ffffff);
	}
	
	.blue_btn:hover {
		filter: drop-shadow(0 0 0.35rem #121C96);
	}
	
	.center-text {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	
	.levelAreaCodes {
		background-image: url('/lesstrainsplease/level.png');
		width: 216px;
		height: 96px;
		margin: 32px;
		margin-left: 16px;
		margin-right: 0;
		padding: 0;
		text-align: center;
		line-height: 14px
	}
	
	.special_br {
		content: '\A';
		display: contents;
		white-space: pre;
	}
	
	.stamps {
		margin-right: 10px;
	}
	
	.socials {
		font-size: 16px;
		text-align: bottom;
		
		width: 128px;
		height: 32px;
	}
	
	.flin {
		margin: auto;
		padding: auto;
	}
	
	.projects_game {
		max-width: 20%;
		width: 20%;
		padding: 12px;
		
	}
	
	.projects_game:hover {
		filter: drop-shadow(0 0 0.60rem #ffffff);
	}
	
	.polaroid {
		padding: 20px;
	}
	
	.polaroid:hover {
		filter: drop-shadow(0 0 0.60rem #ffffff);
	}
	
	.flizzy_button {
		background-color: #FFFFCB;
		border-radius: 4px;
		border: 2px solid #DDD9BA;
		width: 80px;
		height: 35px;
	}
	
	.flizzy_button:hover {
		background-color: #F2F2C1;
	}
	
	.flizzyAppearing {
		animation-name: flizzyAppear;
		animation-duration: 2500ms;
		animation-fill-mode: forwards;
	}
	
	@keyframes flizzyAppear{
	  100%{
		opacity: 1;
	  }
	  0%{
		display: none;
		opacity: 0;
	  }
	}
	
	.flizzyDisappearing {
		animation-name: flizzyDisappearAgainIKnowThisIsNotGoodPracticeButWhatever;
		animation-duration: 500ms;
		animation-fill-mode: forwards;
	}
	
	.flizzyDisappearingSadIKnowThisIsARealUnpolishedAndStupidWayOfCodingTheDifferentAnimationSpeedsIAmSoSorry {
		animation-name: flizzyDisappear;
		animation-duration: 3500ms;
		animation-fill-mode: forwards;
	}
	
	@keyframes flizzyDisappear{
	  0%{
		opacity: 1;
	  }
	  100%{
		opacity: 0.05;
	  }
	}
	
	@keyframes flizzyDisappearAgainIKnowThisIsNotGoodPracticeButWhatever{
	  0%{
		opacity: 1;
	  }
	  100%{
		display: none;
		opacity: 0;
	  }
	}
	
	/* PHONE ORIENTATION
	@media screen and (orientation: landscape) {
		.site_canvas {
			position: absolute;
			z-index: 0;
			
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	@media screen and (orientation: portrait) {
		.site_canvas {
			width: 100%;
			
			position: absolute;
			z-index: 0;
			
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}/*
	
	
	/* CODE I STOLE FROM ANA IN STACKOVERFLOW !! */
	 .circle-container {
        position: relative;
        /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
        border: dashed 1px;
        border-radius: 50%;
    }
    .circle-container a {
        display: block;
        position: absolute;
		
		left: 50%;
		transform: translateX(-50%);
    }
    .circle-container img { display: block; width: 60%; }
	.center:hover { filter: drop-shadow(0 0 0.50rem #DE4B00); }
    .circle-container img:hover { filter: drop-shadow(0 0 0.50rem #ffffff); }
    .deg0 { transform: translate(7em); } /* 12em = half the width of the wrapper */
    .deg30 { transform: rotate(30deg) translate(7em) rotate(-30deg); }
    .deg60 { transform: rotate(60deg) translate(7em) rotate(-60deg); }
    .deg90 { transform: rotate(90deg) translate(7em) rotate(-90deg); }
    .deg120 { transform: rotate(120deg) translate(7em) rotate(-120deg); }
    .deg150 { transform: rotate(150deg) translate(7em) rotate(-150deg); }
    .deg180 { transform: translate(-7em); }
    .deg210 { transform: rotate(210deg) translate(7em) rotate(-210deg); }
    .deg240 { transform: rotate(240deg) translate(7em) rotate(-240deg); }
    .deg270 { transform: rotate(270deg) translate(7em) rotate(-270deg); }
    .deg300 { transform: rotate(300deg) translate(7em) rotate(-300deg); }
    .deg330 { transform: rotate(330deg) translate(7em) rotate(-330deg); }
	
	
	/* CODE I STOLE FROM MYSTIC MAYA WITH HER PERMISSION!!!!!!!! I LOVE YOU!!!!!!!! */
		@font-face {font-family: "Pixelated MS Sans Serif";src: url(/assets/buttons/maya/ms_sans_serif.woff2);}
		.maya_title{
			width: 64px;
			height: 50px;
			background-color: #0000FF;
			border-radius: 50%;
			text-align: center;
			color: white;
			font-size: 2vh;
			font-style: italic;
		}
		.maya_subtitle{
			font-size: 1vh;
			font-style: italic;
			color: #0000FF;
			padding:0px;
		}
		.maya_button {
			font-family: "Pixelated MS Sans Serif",Arial;
			-webkit-font-smoothing: antialiased;
			font-size: 15px;
			box-sizing: border-box;
			border: 1px solid #003c74;
			padding-inline: 12px;
			background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4);
			box-shadow: none;
			border-radius: 3px;
		}
		.maya_button:hover {
			background: linear-gradient(180deg,#fff,#e1e0dc 86%,#cfcac0);
			border-color: #003c74;
		}
		.maya_button:active {box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey}
		.maya_button:focus {
			box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
			outline: 1px dotted #000;
			outline-offset: -4px;
		}

		/*Title Bars*/
		.maya_titlebar{
			/*background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7); blue */
			background: linear-gradient(180deg,#F9CACF,#D86F95 8%,#DD7C9D 40%,#B72A5C 88%,#B72A5C 93%,#B82C5D 95%,#B82C5D 96%,#B82C5D);
			border-top-left-radius: 8px;
			border-top-right-radius: 7px;
			border-top: 1px solid #B82C5D;
			border-left: 1px solid #B82C5D;
			border-right: 1px solid #B82C5D;
			text-shadow: 1px 1px #9D1444;
			width: 88px;
			height: 31px;
			display: flex;
			align-items: center;
		}

		.maya_titlebartext{
			font-family: "Trebuchet MS";
			width:64px;
			font-size: 1vw;
			text-align: left;
			font-size: 1vh;
			color: white;
			text-shadow: 1px 1px #9D1444;
			padding-left: 3px;
		}

		.maya_titlebarbuttons{
			display:flex;
			padding-right: 3px;
		}

		.maya_titlebarbuttons button{
			min-width: 21px;
			min-height: 21px;
			margin-left:2px;
			background-repeat: no-repeat;
			background-position: 50%;
			box-shadow: none;
			background: linear-gradient(180deg,#F9CACF,#D86F95 8%,#DD7C9D 40%,#B72A5C 88%,#B72A5C 93%,#B82C5D 95%,#B82C5D 96%,#B82C5D);
			transition: background .1s;
			border: none;
			padding: 0px;
			display: block;
		}

		.maya_titlebarbuttons button[class="maya_min"]{background-image: url("/assets/buttons/maya/min.svg");}
		.maya_titlebarbuttons button[class="maya_max"]{background-image: url("/assets/buttons/maya/max.svg");}
		.maya_titlebarbuttons button[class="maya_close"]{background-image: url("/assets/buttons/maya/close.svg");}

		.maya_stuff {
			height: 30px;
			font-family: "Pixelated MS Sans Serif";
			background-color: #FDDBE3;
			border: 3px solid #B82C5D;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 7px;
		}