body {
	background-image: url('/assets/background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	width: 100%;
	margin: 0px;
	
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

font {
	font-family: "Ubuntu", sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #005208;
	/*text-shadow: 0 0 10px #000000, 0 0 20px #000000;*/
}

.disableSelect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.headerFooter {
	width: 100%;
	overflow-wrap: break-word;
	margin-top: 22px;
}

.mainJogo {
	
}

.jogoFundo {
	border: 2px solid #005208;
}

@media screen and (max-width: 1000px) {
	.jogoFundo {
		width: 100%;
	}
}